html {
    box-sizing: border-box;
  }
  and
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    height: 100%;
}

p {
  width: 75vw;
}

#input-container {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-container p {
  flex: 1 1 0;
}

#input-container input {
  flex: 1 1 0;
}

#input-container .reset {
  flex: 1.5 1 0;
}

#gridHouse {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75vh;
    flex-flow: row wrap;
}

.tile {
    border: 0.1px #DCDCDC solid;
    margin: 0px;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: white;
}


