html {
    box-sizing: border-box;
  }
  and
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    height: 100%;
}

p {
  width: 75vh;
}

#gridHouse {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75vh;
    flex-flow: row wrap;
}

.tile {
    border: 0.1px #DCDCDC solid;
    margin: 0px;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: white;
}

.coloredTile {
  background-color: blue;
}

